/* body {
  min-height: #212529px;
} */

.jumbotron {
  padding-top: 6rem;
  background-color: #212529;
}

#projects {
  background-color: #212529;
}

section {
  padding-top: 5rem;
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #808080;
  color: white;
}

.fa-youtube {
  background: #808080;
  color: white;
}

.fa-twitter {
  background: #808080;
  color: white;
}

.fa-github {
  background: #808080;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin: 5px 10px;
}